registry=https://www.myget.org/F/brunoalcau/npm
//www.myget.org/F/brunoalcau/:_password="YmluYXJpbw=="
//www.myget.org/F/brunoalcau/:username=brunoalcau
//www.myget.org/F/brunoalcau/:email=brunoalcau@gmail.com
//www.myget.org/F/brunoalcau/:always-auth=false
