registry=https://www.myget.org/F/pipelinenodejs/npm
//www.myget.org/F/pipelinenodejs/:_password=YmluYXJpbw==
//www.myget.org/F/pipelinenodejs/:username=pipelinenodejs
//www.myget.org/F/pipelinenodejs/:email=derike_a@hotmail.com
//www.myget.org/F/pipelinenodejs/:always-auth=false
